*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Roboto;	
}

body{
	background-color: #212956;
	/*background-image: url('../images/wallpaper.jpg');*/
	background-repeat: no-repeat;
	background-size: cover;
}

#principal{
	width: 810px;
	height: 860px;
	margin: 0px auto;
	position: relative;
	background: url('../images/background.jpg');

	-webkit-box-shadow: 0px 0px 30px 0px rgba(181, 229, 233, 0.75);
	-moz-box-shadow:    0px 0px 30px 0px rgba(181, 229, 233, 0.75);
	box-shadow:         0px 0px 30px 0px rgba(181, 229, 233, 0.75);

}

.casa{
	height: 130px;
}

#principal section{
	position: absolute;
	top: 335px;
	left: 53px;
	background: transparent;
	width: 739px;
	height: 511px;
}

#principal #vassoura{
	width: 208px;
	height: 37px;
	background-image: url("../images/vassoura.png");
	top: 440px;
	left: 35px;
	position: absolute;
}

 #vassoura a{
 	color: #fff;
 	text-decoration: none;
 }

 #principal #footer{
	 top: 475px;
	 left: 40px;
	 position: absolute;
 }

#principal #vassoura:hover{
	cursor: pointer;
}

#principal section #scroll{
	height: 450px;
	width: 625px;
	padding: 42px 0px 0px 23px;
	position: absolute;
    overflow: hidden;
	margin: 3px 0px 3px 3px;
}

#principal section #scroll span {
	font-size: 24px;
}

#principal header{
	height: 312px;
	width: 810px;
	float: left;
	background: url('../images/header/background.jpg');
}

#fechar{
	position: absolute;
	top: 5px;
	right: 5px;
}

/* Enviar contato */
#enviarEmail{

	position: absolute;
	top: 415px;
	left: 50%;
	padding: 10px;
	color: #fff;	

	width: 400px;
	height: 250px;
	margin: 0 -200px;	

	background: #000;	
	border: 1px solid #000;

	-webkit-box-shadow: 5px 6px #000;
	-moz-box-shadow: 5px 6px #000;
	box-shadow: 5px 6px #000;

	z-index: 9999;
	display: none;

}

#enviarEmail form{
	margin-top: 15px;
}

#enviarEmail input{
	color: #000;
	font-size: 14px;
	margin-bottom: 4px;
	padding: 8px;
	outline: none;
	width: 100%;
	//background: #655668;
	border: 0;
}

#enviarEmail h3, 
#enviarEmail h5{
	font-weight: normal;
	text-align: center;
}

#enviarEmail h5{
	margin: 12px;
}
